<h2><%= l(:label_attendance) %></h2>
<%= javascript_include_tag 'index', :plugin => "redmine_spent_time" %>
<%= stylesheet_link_tag 'sp_app', :plugin => "redmine_spent_time" %>

<%= form_tag({:controller => controller_name, :action => 'index', :project_id => @project},  :method => :get, :id => 'attendance_form') do %>
<%= hidden_field_tag 'set_filter', '1' %>
<%= render :partial => 'sptime/sp_filter', locals: { memberDD: true, frequencyDD: false, projectBlank: true, memberload: false, action: 'index', isDateRange: false, isApply: false } %>

<p style="float:right;">
  <%= link_to_previous_month(@year, @month, :accesskey => accesskey(:previous)) %> | <%= link_to_next_month(@year, @month, :accesskey => accesskey(:next)) %>
</p>
<p class="buttons">
<%= label_tag('month', l(:label_month)) %>
<%= select_month(@month, :prefix => "month", :discard_type => true) %>
<%= label_tag('year', l(:label_year)) %>
<%= select_year(@year, :prefix => "year", :discard_type => true) %>


<%= link_to_function l(:button_apply), '$("#attendance_form").submit()', :class => 'icon icon-checked' %>
<%= link_to l(:button_clear), { :project_id => @project, :set_filter => 1 }, :class => 'icon icon-reload' %>

<% end %>
<%= render :partial => 'spattendance/sp_calendar', :locals => {:calendar => @calendar} %>
<div id="ajax-indicator" style="display:none;"><span><%= l(:label_loading) %></span></div>
