<h2><%= l(:label_attendance) %></h2>
<%= javascript_include_tag 'index', :plugin => "redmine_spent_time" %>
<%= stylesheet_link_tag 'sp_app', :plugin => "redmine_spent_time" %>
<%= render :partial => 'sptime/sp_filter', locals: { memberDD: true, frequencyDD: false, projectBlank: true, memberload: false, action: 'index', isDateRange: false, isApply: false, isCalendar: true } %>
<%#= render :partial => 'spattendance/sp_calendar', :locals => {:calendar => @calendar} %>
<%= render :partial => 'spattendance/clk_list' %>
<div id="ajax-indicator" style="display:none;"><span><%= l(:label_loading) %></span></div>
