
<div class="sp-contextual">
	<b><label id="lbltotal" style="float:left"><%= l(:label_total) + " " +  l(:field_hours) + " : " %><%= @totalHours.blank? ? "0" : @totalHours %></b></label>
	<%= link_to l(:label_add_row), "#", { :onclick => "javascript:AddRow('projPlanTable', 'totalrow');",  :class => 'icon icon-add', :style=> "float:right;" }%>
</div>
<% row_index = 1
	@rootHash = Hash.new
%>	

<table id="projPlanTable" width="100%" class="list time-entries">
<thead>
	<tr>
		<th></th>
		<th class="lbl-txt-align" ></th>
		<th class="lbl-txt-align" >#</th>
		<th class="lbl-txt-align" ></th>
		<th class="lbl-txt-align"><%= l(:field_tracker) %></th>
		<th class="lbl-txt-align"><%= l(:field_subject) %></th>
		<th class="lbl-txt-align"><%= l(:field_hours) %></th>
		<th class="lbl-txt-align"><%= l(:field_start_date) %></th>
		<th class="lbl-txt-align"><%= l(:label_end_date) %></th>
		<th class="lbl-txt-align"><%= l(:field_assigned_to) %></th>
		<th class="lbl-txt-align"><%= l(:label_parent_revision) + " / " + l(:label_child_revision) %></th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
</thead>
<tbody>
	<% unless @projPlan.blank? %>
		<% @projPlan.each do |entry| %>
			<%= render :partial => 'spprojectplan/row_template', locals: { row_index: row_index, obj:entry }  %>
			<% @rootHash[entry.id] = row_index %>
			<% row_index = row_index + 1 %>
		<% end %>
	<% else %>
		<%= render :partial => 'spprojectplan/row_template', locals: { row_index: row_index, obj:nil }  %>
		<% row_index = row_index + 1 %>
	<% end %>
		
</tbody>
</table>
<%=h hidden_field_tag("totalrow",  row_index-1 )  %>
<p><%= "*" + l(:label_delete_msg) %></p>
<p><%= submit_tag l(:button_save) %></p>

