<% @trackers =  Tracker.order(:name) 
	usersArr = @projObj.map(&:assignable_users).reduce(:&)
%>
<div class="wk-contextual">
	<%= link_to l(:label_add_row), "#", { :onclick => "javascript:AddRow('projPlanTable', 'totalrow');",  :class => 'icon icon-add', :style=> "float:right;" }%>
</div>
<% row_index = 1 %>	

<table id="projPlanTable" width="100%" class="list time-entries">
<thead>
	<tr>
		<th></th>
		<th class="lbl-txt-align" ></th>
		<th class="lbl-txt-align" >#</th>
		<th class="lbl-txt-align" ></th>
		<th class="lbl-txt-align"><%= l(:field_tracker) %></th>
		<th class="lbl-txt-align"><%= l(:field_subject) %></th>
		<th class="lbl-txt-align"><%= l(:field_hours) %></th>
		<th class="lbl-txt-align"><%= l(:field_start_date) %></th>
		<th class="lbl-txt-align"><%= l(:label_end_date) %></th>
		<th class="lbl-txt-align"><%= l(:field_assigned_to) %></th>
		<th class="lbl-txt-align"><%= l(:label_parent_revision) + " / " + l(:label_child_revision) %></th>
		<th></th>
		<th></th>
	</tr>
</thead>
<tbody>
	<tr id="issuerow" onclick="  row_id  = this.rowIndex " class="parent">
		<td class="lbl-txt-align" id = "addChild_id#{row_index}" headers="addChild_id">
			<%= link_to "", "#", { :onclick => "javascript:addParentChildRow('projPlanTable', this);", :id => "addChild_id#{row_index}", :class => 'icon icon-add' }%>
		</td>
		<td class="lbl-txt-align" id = "issue_id#{row_index}" headers="issue_id">
			<%=h hidden_field_tag("issue_id#{row_index}",   "" )  %>
			
		</td>
		
		<td class="lbl-txt-align" headers="item_index">
			<label id="item_index<%= row_index.to_s %>"><%= row_index  %></label>
		</td>
		
		<td class="lbl-txt-align" headers="issue_root">
			<%=h hidden_field_tag("issue_root#{row_index}",   row_index )  %>
		</td>
		
		<td class="lbl-txt-align" headers="issue_trackers">
			<%=h select_tag("issue_trackers#{row_index}", options_from_collection_for_select(@trackers, :id, :name, nil)) %>
		</td>
		
		<td class="lbl-txt-align" headers="issue_subject">
			<%= text_field_tag "issue_subject#{row_index}",  ""  , :required => false, :style => "width:250px;" %>
		</td>
		
		<td class="lbl-txt-align" headers="issue_hours">
			<%= text_field_tag "issue_hours#{row_index}",  ""  , :required => false,  :style => "width:50px;" %>
		</td>
		
		<td class="lbl-txt-align" headers="issue_start_date">
			<%= text_field_tag "issue_start_date#{row_index}",  Date.today, :class => "datetimepicker",  :required => false, :style=> "float: left;" %>
			<%#=time_select("issue_start_time#{row_index}", "start_time", :style=>"float:right;") %>
		</td>
		
		<td class="lbl-txt-align" headers="issue_end_date">
			<%= text_field_tag "issue_end_date#{row_index}",  Date.today, :class => "datetimepicker", :required => false %>
			<%#=time_select("issue_end_time#{row_index}", "start_time") %>
		</td>
		
		
		<td class="lbl-txt-align" headers="issue_assignee" >
			<%=h select_tag("issue_assignee#{row_index}", 						principals_options_for_select(usersArr, nil)) %>
		</td>		
		
		<td class="lbl-txt-align" headers="lbl_issue_parent" >
			<label id="lbl_issue_parent<%= row_index %>"> </label>			
			<%#= text_field_tag "issue_parent#{row_index}", "" %>
		</td>
		
		<td class="lbl-txt-align" headers="issue_parent" >			
			<%=h hidden_field_tag("issue_parent#{row_index}",   "" )  %>			
		</td>
		
		<td>
			<%= link_to image_tag('delete.png'), "javascript:deleteRow('projPlanTable', 'totalrow');", :id => row_index,
					:data => {:confirm => l(:text_are_you_sure)},
					:title => l(:button_delete) %>
		</td>	
		</tr>
		<% row_index = row_index + 1 %>
</tbody>
</table>
<%=h hidden_field_tag("totalrow",  row_index-1 )  %>
<p><%= submit_tag l(:button_save) %></p>

