 <% userId =session[controller_name][:user_id] %>
 <table class="list time-entries">
  <thead>
         <tr>
				<th class="lbl-txt-align"><%= l(:field_user)   %></th>
				<th class="lbl-txt-align"><%= l(:field_spent_on)   %></th>				
				<th class="lbl-txt-align"><%= l(:field_hours)   %></th>	
				<th class="lbl-txt-align"><%= "status"   %></th>					
				<th></th>
         </tr>
  </thead>
   <tbody>
	<% @timeEntries.each do |entry| %>
		<% 
		uid = entry.user_id
		name = entry.firstname
		if entry.user_id.blank?
			uid = userId.blank? ? User.current.id : userId
			name = userId.blank? ? User.current.name : User.find(userId).name
		end
		%>
		<tr>
			<td class="lbl-txt-align"><%=h name  %></td>	
			<td class="lbl-txt-align"><%=h entry.start_date  %></td>
			<td class="lbl-txt-align"><%=h entry.total_hours  %></td>
			<td class="lbl-txt-align"><%=h "" %></td>
			
			<td class="lbl-txt-align">
				<%= link_to image_tag('edit.png'), {:controller => controller_name, :action => 'new', :spent_on => entry.start_date, :user_id => uid  }, :title => l(:button_edit) %>
				<%#= link_to image_tag('delete.png'), {:controller => controller_name, :action => 'destroy', :time_entry_id => entry.id},  :data => {:confirm => l(:text_are_you_sure)}, :method => :delete, :title => l(:button_delete) %></td>
		</tr>
	<% end %>
   </tbody>
</table>
<span class="pagination"><%= pagination_links_full @entry_pages, @entry_count %></span>